spring:
  application:
    name: ASpider
  profiles:
    active: dev
elasticsearch: # Elasticsearch配置
  host: xxx
  port: xxx
logging: # 日志配置
  level:
    root: INFO # 全局日志级别
#    com.ershi.aspider: DEBUG # 开启可用于详细调试
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

embedding: # 文本向量化配置
  provider: qwen # 选择向量化提供商：zhipu（智谱）、qwen（千问）、openai（OpenAI兼容）
  max-batch-size: 10        # 每次API调用最大文本条数
  rpm-limit: 60             # 每分钟最大请求数（RPM）
  qwen:
    api-key: your-qwen-api-key
    model: text-embedding-v4
  zhipu:
    api-key: your-zhipu-api-key
    model: embedding-3  # 向量化模型名称
  openai:
    base-url: https://api.openai.com/v1  # 支持自定义端点（如第三方代理）
    api-key: your-openai-api-key
    model: Qwen3-Embedding-8B        # 模型名称                 # 向量维度
processor: # 数据处理模块
  scorer: # 文章评分配置
    strategy: rule  # 评分策略：rule（规则）/ llm（大模型）
  content-extraction: # 文章数据摘要提取配置，用于提取长文本内容，输出摘要供后续操作
    short-text-threshold: 500      # 短文本阈值
    medium-text-threshold: 2000    # 中文本阈值
    medium-text-truncate-length: 600  # 中文本截取长度
    llm-summary: # LLM摘要提取配置
      enable: false                # 是否启用LLM总结
      target-length: 200           # 摘要目标长度
      provider: qwen               # 提供商：qwen/gemini
      model: qwen3-max            # 模型名称
      api-key: your-llm-api-key    # API密钥
      base-url:                    # 自定义请求api，Gemini支持使用第三方api，未填写则使用官方api
